<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta charset="utf-8">
	<title>
		<%- theme.title %>
	</title>
	<link rel="icon" href="<%- theme.favicon %>">
	<!-- 引入配置文件 -->
	<%- css('css/main.css') %>
	<!-- 引入动画库 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fushaolei/cdn-white@1.0/css/animate.css">
</head>
<body ondragstart="return false;">
	<%- partial('_partial/header', {post: page, index: false}) %>
	<%- body %>
	<!-- 引入代码高亮的 js -->
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<!-- 引入代码高亮 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/tomorrow-night.min.css" type="text/css">
</body>
</html>