<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div id="vcomments"></div>
  <script>
      new Valine({
          el: "#vcomments",
          app_id: "<%= theme.valine.appid %>",
          app_key: "<%= theme.valine.appkey %>",
          placeholder: "<%= theme.valine.placeholder %>",
          path: <%= theme.valine.path %>,
          avatar: "<%= theme.valine.avatar %>",
          meta: <%- JSON.stringify(theme.valine.meta || []) %>,
          pageSize: "<%= theme.valine.pageSize %>",
          lang: "<%= theme.valine.lang %>",
          highlight: <%= theme.valine.highlight %>,
          recordIP: <%= theme.valine.recordIP %>,
          serverURLs: "<%= theme.valine.serverURLs %>",
      })
  </script>

<style> 
/* valine 评论框增加背景图片 */ 
#vcomments textarea {
      box-sizing: border-box;
      background: url("https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp") 100% 100% no-repeat; 
} 
#vcomments .vheader .vnick {
      width: 27%;
      border: 2px solid #dedede;
      padding-left: 12px;
      padding-right: 10px;
      border-radius: 5px
}

#vcomments .vheader .vmail {
      width: 29%;
      border: 2px solid #dedede;
      margin-left: 34px;
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 5px
}

#vcomments .vheader .vlink {
      width: 33%;
      border: 2px solid #dedede;
      margin-left: 34px;
      padding-left: 6px;
      padding-right: 12px;
      border-radius: 5px
} } </style>